*{
  padding: 0;
  margin: 0;
  
}

.app{
 background-color: aqua;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 background-repeat: no-repeat;
 width: auto;
 height: 100vh;
 background-position: center;
 background-size: cover;
}
.play{
  background-color: #779952;
  border-radius: 10px;
  width:100px;
  padding: 10px;
  font-size: medium;
}



.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #312e2b;
}
.chessboard{
  
  position: relative;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,1fr);
  width: 500px;
  height: 500px;
  background-color:#779952 
  
}

.dark{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#edeed1 ;
}
.light
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#779952 ;
}
.chess_piece
{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  width:60px;
}
.chess_piece:hover{
  cursor: grab;
}

 
/* chat css here */
.username{
  background-color: rgb(237, 171, 26);
}
.text{
  margin: 5px;
}
.chatline{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.promotion{
  position: absolute;
  display:flex;
  flex-direction: column;
  background-color:rgba(0,0,0,0.8);
  z-index: 5;
}
.promotionhidden
{
  display: none;
}

